* {
    font-family: "Verdana", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px 15% 5% 15%;
}

.center {
    text-align: center;
}

.title {
    margin: 32px 0px;
}

.display-image {
    display: block;
    margin: 32px auto;
    width: 437px;
    height: auto;
}

li {
    list-style-position: inside;
    margin-bottom: 8px;
}
